# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Data
data/historical/
logs/

# ML models
ml/saved_models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
